<section id="contact">
  <div class="banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 demo-block">
          <h2><%= t 'contact.demo' %></h2> <%= t 'contact.description' %>
          <big><a href="mailto:info@betengines.com">d.omelechko@betengines.com</a></big>
        </div>
      </div>
    </div>
  </div>
</section>
